// Copyright 2024 Grabtaxi Holdings PTE LTE (GRAB), All rights reserved.
// Use of this source code is governed by an MIT-style license that can be found in the LICENSE file

/*
GrabFood

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.1.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package grabfood

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// CreateSelfServeJourneyAPIService CreateSelfServeJourneyAPI service
type CreateSelfServeJourneyAPIService service

type ApiCreateSelfServeJourneyRequest struct {
	ctx context.Context
	ApiService *CreateSelfServeJourneyAPIService
	contentType *string
	authorization *string
	createSelfServeJourneyRequest *CreateSelfServeJourneyRequest
}

// The content type of the request body. You must use &#x60;application/json&#x60; for this header as GrabFood API currently does not support other formats.
func (r ApiCreateSelfServeJourneyRequest) ContentType(contentType string) ApiCreateSelfServeJourneyRequest {
	r.contentType = &contentType
	return r
}

// Specify the generated authorization token of the bearer type.
func (r ApiCreateSelfServeJourneyRequest) Authorization(authorization string) ApiCreateSelfServeJourneyRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateSelfServeJourneyRequest) CreateSelfServeJourneyRequest(createSelfServeJourneyRequest CreateSelfServeJourneyRequest) ApiCreateSelfServeJourneyRequest {
	r.createSelfServeJourneyRequest = &createSelfServeJourneyRequest
	return r
}

func (r ApiCreateSelfServeJourneyRequest) Execute() (*CreateSelfServeJourneyResponse, *http.Response, error) {
	return r.ApiService.CreateSelfServeJourneyExecute(r)
}

/*
CreateSelfServeJourney Create self serve journey

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateSelfServeJourneyRequest
*/
func (a *CreateSelfServeJourneyAPIService) CreateSelfServeJourney(ctx context.Context) ApiCreateSelfServeJourneyRequest {
	return ApiCreateSelfServeJourneyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateSelfServeJourneyResponse
func (a *CreateSelfServeJourneyAPIService) CreateSelfServeJourneyExecute(r ApiCreateSelfServeJourneyRequest) (*CreateSelfServeJourneyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateSelfServeJourneyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CreateSelfServeJourneyAPIService.CreateSelfServeJourney")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partner/v1/self-serve/activation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contentType == nil {
		return localVarReturnValue, nil, reportError("contentType is required and must be specified")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.createSelfServeJourneyRequest == nil {
		return localVarReturnValue, nil, reportError("createSelfServeJourneyRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	// body params
	localVarPostBody = r.createSelfServeJourneyRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
