// Copyright 2024 Grabtaxi Holdings PTE LTE (GRAB), All rights reserved.
// Use of this source code is governed by an MIT-style license that can be found in the LICENSE file

/*
GrabFood

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.1.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package grabfood

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// UpdateStoreDineInHourAPIService UpdateStoreDineInHourAPI service
type UpdateStoreDineInHourAPIService service

type ApiUpdateStoreDineInHourRequest struct {
	ctx context.Context
	ApiService *UpdateStoreDineInHourAPIService
	contentType *string
	authorization *string
	merchantID string
	updateDineInHourRequest *UpdateDineInHourRequest
}

// The content type of the request body. You must use &#x60;application/json&#x60; for this header as GrabFood API currently does not support other formats.
func (r ApiUpdateStoreDineInHourRequest) ContentType(contentType string) ApiUpdateStoreDineInHourRequest {
	r.contentType = &contentType
	return r
}

// Specify the generated authorization token of the bearer type.
func (r ApiUpdateStoreDineInHourRequest) Authorization(authorization string) ApiUpdateStoreDineInHourRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdateStoreDineInHourRequest) UpdateDineInHourRequest(updateDineInHourRequest UpdateDineInHourRequest) ApiUpdateStoreDineInHourRequest {
	r.updateDineInHourRequest = &updateDineInHourRequest
	return r
}

func (r ApiUpdateStoreDineInHourRequest) Execute() (*UpdateDineInHourResponse, *http.Response, error) {
	return r.ApiService.UpdateStoreDineInHourExecute(r)
}

/*
UpdateStoreDineInHour Update Store Dine-in Hours

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param merchantID The merchant's ID that is in GrabFood's database.
 @return ApiUpdateStoreDineInHourRequest
*/
func (a *UpdateStoreDineInHourAPIService) UpdateStoreDineInHour(ctx context.Context, merchantID string) ApiUpdateStoreDineInHourRequest {
	return ApiUpdateStoreDineInHourRequest{
		ApiService: a,
		ctx: ctx,
		merchantID: merchantID,
	}
}

// Execute executes the request
//  @return UpdateDineInHourResponse
func (a *UpdateStoreDineInHourAPIService) UpdateStoreDineInHourExecute(r ApiUpdateStoreDineInHourRequest) (*UpdateDineInHourResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateDineInHourResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UpdateStoreDineInHourAPIService.UpdateStoreDineInHour")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partner/v1/merchants/{merchantID}/store/dine-in-hours"
	localVarPath = strings.Replace(localVarPath, "{"+"merchantID"+"}", url.PathEscape(parameterValueToString(r.merchantID, "merchantID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contentType == nil {
		return localVarReturnValue, nil, reportError("contentType is required and must be specified")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.updateDineInHourRequest == nil {
		return localVarReturnValue, nil, reportError("updateDineInHourRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	// body params
	localVarPostBody = r.updateDineInHourRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
