// Copyright 2024 Grabtaxi Holdings PTE LTE (GRAB), All rights reserved.
// Use of this source code is governed by an MIT-style license that can be found in the LICENSE file

/*
GrabFood

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.1.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package grabfood

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// GenerateStoQrCodeAPIService GenerateStoQrCodeAPI service
type GenerateStoQrCodeAPIService service

type ApiGenerateStoQrCodeRequest struct {
	ctx context.Context
	ApiService *GenerateStoQrCodeAPIService
	authorization *string
	contentType *string
	merchantID *string
	qrType *string
	tableNumber *string
}

// Specify the generated authorization token of the bearer type.
func (r ApiGenerateStoQrCodeRequest) Authorization(authorization string) ApiGenerateStoQrCodeRequest {
	r.authorization = &authorization
	return r
}

// The content type of the request body. You must use &#x60;application/json&#x60; for this header as GrabFood API currently does not support other formats.
func (r ApiGenerateStoQrCodeRequest) ContentType(contentType string) ApiGenerateStoQrCodeRequest {
	r.contentType = &contentType
	return r
}

func (r ApiGenerateStoQrCodeRequest) MerchantID(merchantID string) ApiGenerateStoQrCodeRequest {
	r.merchantID = &merchantID
	return r
}

func (r ApiGenerateStoQrCodeRequest) QrType(qrType string) ApiGenerateStoQrCodeRequest {
	r.qrType = &qrType
	return r
}

func (r ApiGenerateStoQrCodeRequest) TableNumber(tableNumber string) ApiGenerateStoQrCodeRequest {
	r.tableNumber = &tableNumber
	return r
}

func (r ApiGenerateStoQrCodeRequest) Execute() (*GenerateSTOQRCodeResponse, *http.Response, error) {
	return r.ApiService.GenerateStoQrCodeExecute(r)
}

/*
GenerateStoQrCode Generate STO QR code

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGenerateStoQrCodeRequest
*/
func (a *GenerateStoQrCodeAPIService) GenerateStoQrCode(ctx context.Context) ApiGenerateStoQrCodeRequest {
	return ApiGenerateStoQrCodeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GenerateSTOQRCodeResponse
func (a *GenerateStoQrCodeAPIService) GenerateStoQrCodeExecute(r ApiGenerateStoQrCodeRequest) (*GenerateSTOQRCodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GenerateSTOQRCodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GenerateStoQrCodeAPIService.GenerateStoQrCode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partner/v1/dinein/sto/qrcode"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.contentType == nil {
		return localVarReturnValue, nil, reportError("contentType is required and must be specified")
	}
	if r.merchantID == nil {
		return localVarReturnValue, nil, reportError("merchantID is required and must be specified")
	}
	if r.qrType == nil {
		return localVarReturnValue, nil, reportError("qrType is required and must be specified")
	}
	if r.tableNumber == nil {
		return localVarReturnValue, nil, reportError("tableNumber is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "merchantID", r.merchantID, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "qrType", r.qrType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "tableNumber", r.tableNumber, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
