// Copyright 2024 Grabtaxi Holdings PTE LTE (GRAB), All rights reserved.
// Use of this source code is governed by an MIT-style license that can be found in the LICENSE file

/*
GrabFood

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.1.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package grabfood

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// UpdateMenuRecordAPIService UpdateMenuRecordAPI service
type UpdateMenuRecordAPIService service

type ApiBatchUpdateMenuRequest struct {
	ctx context.Context
	ApiService *UpdateMenuRecordAPIService
	contentType *string
	authorization *string
	batchUpdateMenuItem *BatchUpdateMenuItem
}

// The content type of the request body. You must use &#x60;application/json&#x60; for this header as GrabFood API currently does not support other formats.
func (r ApiBatchUpdateMenuRequest) ContentType(contentType string) ApiBatchUpdateMenuRequest {
	r.contentType = &contentType
	return r
}

// Specify the generated authorization token of the bearer type.
func (r ApiBatchUpdateMenuRequest) Authorization(authorization string) ApiBatchUpdateMenuRequest {
	r.authorization = &authorization
	return r
}

// 
func (r ApiBatchUpdateMenuRequest) BatchUpdateMenuItem(batchUpdateMenuItem BatchUpdateMenuItem) ApiBatchUpdateMenuRequest {
	r.batchUpdateMenuItem = &batchUpdateMenuItem
	return r
}

func (r ApiBatchUpdateMenuRequest) Execute() (*BatchUpdateMenuResponse, *http.Response, error) {
	return r.ApiService.BatchUpdateMenuExecute(r)
}

/*
BatchUpdateMenu Batch Update Menu

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBatchUpdateMenuRequest
*/
func (a *UpdateMenuRecordAPIService) BatchUpdateMenu(ctx context.Context) ApiBatchUpdateMenuRequest {
	return ApiBatchUpdateMenuRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BatchUpdateMenuResponse
func (a *UpdateMenuRecordAPIService) BatchUpdateMenuExecute(r ApiBatchUpdateMenuRequest) (*BatchUpdateMenuResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchUpdateMenuResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UpdateMenuRecordAPIService.BatchUpdateMenu")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partner/v1/batch/menu"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contentType == nil {
		return localVarReturnValue, nil, reportError("contentType is required and must be specified")
	}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.batchUpdateMenuItem == nil {
		return localVarReturnValue, nil, reportError("batchUpdateMenuItem is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	// body params
	localVarPostBody = r.batchUpdateMenuItem
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateMenuRequest struct {
	ctx context.Context
	ApiService *UpdateMenuRecordAPIService
	contentType *string
	authorization *string
	updateMenuRequest *UpdateMenuRequest
}

// The content type of the request body. You must use &#x60;application/json&#x60; for this header as GrabFood API currently does not support other formats.
func (r ApiUpdateMenuRequest) ContentType(contentType string) ApiUpdateMenuRequest {
	r.contentType = &contentType
	return r
}

// Specify the generated authorization token of the bearer type.
func (r ApiUpdateMenuRequest) Authorization(authorization string) ApiUpdateMenuRequest {
	r.authorization = &authorization
	return r
}

// 
func (r ApiUpdateMenuRequest) UpdateMenuRequest(updateMenuRequest UpdateMenuRequest) ApiUpdateMenuRequest {
	r.updateMenuRequest = &updateMenuRequest
	return r
}

func (r ApiUpdateMenuRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateMenuExecute(r)
}

/*
UpdateMenu Update menu record

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateMenuRequest
*/
func (a *UpdateMenuRecordAPIService) UpdateMenu(ctx context.Context) ApiUpdateMenuRequest {
	return ApiUpdateMenuRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *UpdateMenuRecordAPIService) UpdateMenuExecute(r ApiUpdateMenuRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UpdateMenuRecordAPIService.UpdateMenu")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partner/v1/menu"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contentType == nil {
		return nil, reportError("contentType is required and must be specified")
	}
	if r.authorization == nil {
		return nil, reportError("authorization is required and must be specified")
	}
	if r.updateMenuRequest == nil {
		return nil, reportError("updateMenuRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	// body params
	localVarPostBody = r.updateMenuRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
